<html>
<head>
  <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
</head>
<body>
{% include header.html %}
<h1>Plasma Cannon</h1>
<p>Punk Rock, with an infusion of Steam Punk, Danny Elfman's Blood, some fire water and the will to live.
</p>
<h2>Events</h2>
<div class="event-wrapper">
  <div class="event-date">Sat April 29, 2017</div>
  <div class="event-title">Plasma Cannon at 924 Gilman</div>
  <div class="event-venue">
    924 Gilman
    <div class="address">
      924 Gilman Street,<br>
      Berkeley, CA 94710

    </div>
  </div>
  <div class="event-time">7:00 PM</div>
  <!-- <div class="event-price">$13.00</div> -->
  <a href="http://www.924gilman.org">More Info</a>
</div>
<h2>Social</h2>
<ul>
  <li><a href="https://www.facebook.com/plasmacannon2012/">Facebook</a></li>
  <li><a href="https://twitter.com/PlasmaCannon916">Twitter</a></li>
  <li><a href="https://www.instagram.com/plasmacannonband/">Instagram</a></li>
</ul>
{% include footer.html %}
</body>
</html>
